body{
margin:0;
font-family:Montserrat;
}


header{
border: 1px solid red;
height:60px;
width:1152;
margin:0 auto;
display:grid;
grid-template-columns:270px auto;

}
header a{
align-self: center;
  justify-self: center;
}

}
header nav{
border: 1px solid red;

}
header nav ul{
list-style:none;
padding:0;
display:grid;
grid-template-columns:repeat(8,1fr);
}

header nav ul li a{
text-align:center;
text-decoration:none;
font-size: 18px;
color: #000000;
word-spacing:1px;
}


section{
border: 1px solid red;
height:550px;
width:1152;
margin:0 auto;

}

footer{
border: 1px solid red;
height:200px;
width:1152;
margin:0 auto;
}