body{
    margin: 0;
    font-family: Montserrat;
    height: 2000px;
}
header{
	position: relative;
    height: 150px;
    width: 1152px;
    margin: 0 auto;
    display: grid;
	grid-template-columns:270px auto;
    border:1px solid white;
	color: #000000;
	text-decoration: none;
	list-style:none;
}
header nav{
	list-style:none;
}
header nav ul{
	text-decoration: none;
    padding: 0;
    display: grid;
    grid-template-columns: 60px 100px 80px 103px 380px 50px 50px 50px;
	list-style:none;
}
header nav ul li{
	position:relative;
	top:20px;
    font-size: 20px;
	font-family: Montserrat;
}

header nav ul li a{
	color: #000000;
	text-decoration: none;
}

#logo{
	position: relative;
	top: 30px;
	left: 60px;
}
section{
	display: grid;
	width: 1152px;
	height: 800px;
	margin: 0 auto;
}
footer{
	position: relative;
	display: grid;
	top: -1000px;
	width: 1152px;
	height: 325px;
	background: #F0F0F0;
	text-decoration: none;
	list-style: none;
	margin: 0 auto;
}

section#sale10{
	position: relative;
	height: 100px;
	left: 20px;
	width: 900px;
	top: -50px;
	background: rgba(196, 196, 196, 0.1);
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 68px;
	line-height: 83px;
	letter-spacing: 0.03em;
	color: rgba(77, 76, 76, 0.35);

}
section#sale10 p{
	position: absolute;
	left: 100px;	
	top: -55px;
}
section#menuleft h1{
	font-family: Monda;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #000000;
}
section#menuleft h2{
	font-family: Monda;
font-style: normal;
list-style: none;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-align: left;
letter-spacing: 0.03em;
margin: 10px;
color: #000000;
}
section#menuleft hr{
	position: absolute;
	width: 200px;
	left: 30px;
}
section#menuleft{
	position: relative;
	width: 245px;
	left: 0px;
	margin: 0;

	height: 1100px;

}
section#menuleft table{
	position: relative;
	align-content: center;

}

section#fotoshop{
	position: relative;
	left: 245px;
	top: -1100px;
	margin: auto 0px;
	width: 950px;
	height: 1300px;
}
section#fotoshop button{
position: absolute;
background: rgba(203, 203, 203, 0.33);
width: 79px;
height: 43px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 100px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 0.01em;
color: #000000;
}
#button1{
	position: absolute;
	left: 245px;
	top: 312px;
}
#button2{
	position: absolute;
	left: 580px;
	top: 312px;
}
#button3{
	position: absolute;
	left: 915px;
	top: 312px;
}
#button4{
	position: absolute;
	left: 245px;
	top: 690px;
}
#button5{
	position: absolute;
	left: 580px;
	top: 690px;
}
#button6{
	position: absolute;
	left: 915px;
	top: 690px;
}
#button7{
	position: absolute;
	left: 245px;
	top: 1065px;
}
#button8{
	position: absolute;
	left: 580px;
	top: 1065px;
}
#button9{
	position: absolute;
	left: 915px;
	top: 1065px;
}

footer#footer1#colum1{
	position: absolute;
	background: black;
	display: grid;
	width: 1152px;
	height: 500px;
	left: 0px;
	top: 0px;
}
#colum1{
	position: absolute;
	width: 350px;
	height: 136px;
	left: 80px;
	line-height: 2em;
	top: 25px;
}
#colum1 hr{
	position: relative;
	left: -52px;
	background: #FFFFFF;
	height: 7px;
	width: 250px;
}
#colum1 h1{
	position: relative;
	left: 0px;
	top: 10px;
}
footer#footer1 li a{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
footer .lin{
position: absolute;
width: 1152px;
height: 3px;
left: 0px;
top: -80px;
border: black;
background: #000000;
}
footer li a{
	text-decoration: none;
	list-style: none;
	color: black;
}

#colum2{
	position: absolute;
	width: 350px;
	
	height: 135px;
	left:500px;
	line-height: 2em;
	top: 25px;
}
#colum2 h1{
	position: relative;
	top: 10px;
}
#colum2 hr{
position: relative;
	left: -53px;
	background: #FFFFFF;
	height: 7px;
	width: 250px;
}
.headerbottom ul{
	position: relative;
	list-style: none;
	display: grid;
	grid-template-columns:80px 120px 100px 130px 150px;
	left: 10px;
	top: -15px;

	padding : 0px;
}

.headerbottom li a{
	position: relative;
	word-spacing: 10px;
	left: 300px;
	top: 43px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 32px;
	text-decoration: none;
	list-style: none;
	color: white;

}
#colum3{
	position: absolute;
	right: 20px;
	line-height: 2em;
	top: 25px;
}
#colum3 h1{
	position: relative;
	top: 10px;
}
#colum3 hr{
	position: relative;
	left: -6px;
	background: #FFFFFF;
	height: 7px;
	width: 250px;
}
#colum3 ul{
	position: relative;
	list-style: none;
	display: grid;
	grid-template-columns:40px 40px 40px 40px;
	padding: 0px;
	left: 20px;
	letter-spacing:2em;
}
.headfooter{
	font-family: Montserrat;
	font-style: normal;
	letter-spacing: 2px;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.headerbottom{
	position: relative;
	background: black;
	width: 1152px;
	height: 120px;
	left: 0px;
	display: flex;
	top: 150px;
	
	color: white;
}
#logomenu{
	position: absolute;
	left: 50px;
	top: 25px;
}

#contacts{
	position: absolute;
	color: white;
	right: 40px;
	top: 278px;
	letter-spacing: 2px;
	line-height: 2em;
}
section#menuleft .colorr ul li{
	list-style: none;
	text-decoration: none;
}
footer ul{
	text-decoration: none;
	list-style: none;
}
#list{
 list-style: none;
  column-count: 3;
  height: 100px;
  
}
#list li{
	 page-break-inside: avoid;
  break-inside: avoid;
}
#circleblack{
	width: 25px;
	height: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: black;
}



#circlered {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: red;
    }

#circlewhite {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: white;
	border:1px solid black;
    }
#circlegreen {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: green;
    }
#circleblue {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: blue;
    }
#circleorange {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: orange;
    }
#circleyellow {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: yellow;
    }
#circlepink {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: pink;
    }
#circlegrey {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: grey;
    }

